torch>=2.0
transformers==4.29.2
accelerate==0.20.3
einops==0.6.1
numpy==1.24.4
pandas>=1.5
scikit-learn==1.2.2
matplotlib>=3.6
seaborn>=0.12
optuna>=3.0
wandb>=0.15
peft==0.3.0
imbalanced-learn>=0.10
